[submodule "externals/cviruntime"]
	path = externals/cviruntime
	url = ../cviruntime.git
[submodule "externals/cvibuilder"]
	path = externals/cvibuilder
	url = ../cvibuilder.git
[submodule "externals/cvikernel"]
	path = externals/cvikernel
	url = ../cvikernel.git
[submodule "externals/profiling"]
	path = externals/profiling
	url = ../profiling.git
[submodule "externals/cmodel"]
	path = externals/cmodel
	url = ../cmodel.git
[submodule "externals/backend"]
	path = externals/backend
	url = ../backend.git
[submodule "third_party/caffe"]
	path = third_party/caffe
	url = ../caffe.git
[submodule "third_party/cnpy"]
	path = third_party/cnpy
	url = ../cnpy.git
[submodule "third_party/flatbuffers"]
	path = third_party/flatbuffers
	url = ../flatbuffers.git
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = ../pybind11.git
[submodule "third_party/systemc-2.3.3"]
	path = third_party/systemc-2.3.3
	url = ../systemc-2.3.3.git
[submodule "third_party/opencv"]
	path = third_party/opencv
	url = ../opencv.git
